<form action='#'>
  <label for='file'>Select file</label>
  <input type='file' id='file' name='file'>

  <label for='auth'>Authorization</label>
  <input type='password' id='auth' name='auth'>

  <input type='submit' value='Upload'>
</form>
<script>
  document.querySelector('form').addEventListener('submit', async (e) => {
    e.preventDefault();

    const file = document.querySelector('#file').files[0];
    const formData = new FormData();
    formData.append('file', file);

    const url = await fetch(window.location.pathname, {
      method: 'POST',
      headers: {
        Authorization: document.querySelector('#auth').value
      },
      body: formData
    }).then(r => r.text());

    window.location.href = url;
  })
</script>
