:root {
  --color-primary: #e7e2d8;
  --color-background: #fff;
  --color-text: #222;
  --color-link: #254be7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #2f2e2c;
    --color-background: #222;
    --color-text: #fff;
    --color-link: #98b6ff;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 4px 10px;
}

tr {
  border-bottom: 1px solid var(--color-primary);
}

img, video {
  max-width: 100%;
}

blockquote {
  margin-left: 0;
  padding-left: 10px;
  border-left: 6px solid var(--color-primary);
}

textarea {
  background-color: var(--color-background);
  color: var(--color-text)
}

.navbar {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-primary);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 1.3rem;
  list-style: none;
}

.breadcrumbs li {
  padding: 5px;
}

.breadcrumbs li + li {
  padding-left: 1.4em;
}

#content {
  background-color: var(--color-background);
  padding: 1em 3em 3em;
  margin: 3em auto;
  max-width: 1200px;
}
