<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Title</title>
  <link rel='stylesheet' href='/_/index.css'>
  {{{head}}}
</head>
<body>
  <div id='content'>{{{content}}}</div>
</body>
</html>
