<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} | filebrowser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="container">{{{element}}}</div>
    <script src="/js/clipboard.min.js"></script>
    <script>
      const clipboard = new ClipboardJS(".copy-btn");
      clipboard.on('success', e => {
        const target = e.trigger;
        target.text = 'copied';
        setTimeout(() => target.text = 'copy', 2000);
      })

    </script>
  </body>
</html>
